<%- include('./includes/head'); -%>
<section>
    <form action="" method="post">
        Email:<input type="email" name="email" id=""><br>
        Senha:<input type="password" name="senha" id=""><br>
        <button>Entrar</button>
    </form>
</section>


<%- include('./includes/footer'); -%>